__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
.env
.DS_Store

# Não versionar dados clínicos
data/*
!data/README.md
images/exemplos/*
!images/exemplos/README.md
results/*
!results/.gitkeep
models/*
!models/README.md

*.dcm
*.dicom


# Bases públicas e imagens médicas armazenadas localmente
data/montgomery/
data/shenzhen/
data/chexpert/
data/mimic-cxr-jpg/
data/teste/

# Arquivos DICOM
*.dcm
*.dicom